Source: plymouth-themes-huayra
Section: x11
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 9.20120909), config-package-dev (>= 5.1.1)
Standards-Version: 3.9.3
Homepage: http://huayra.conectarigualdad.gob.ar

Package: plymouth-themes-huayra
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Graphical Boot Animation and Logger
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains all the Huayra themes.

Package: plymouth-themes-huayra-v1
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra theme.

Package: plymouth-themes-huayra-v2
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra v2 theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra v2 theme.

Package: plymouth-themes-huayra-v3
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra v3 theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra v3 theme.

Package: plymouth-themes-huayra-limbo
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra Limbo theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra Limbo theme.

Package: plymouth-themes-huayra-liso
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra Liso theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra Liso theme.

Package: plymouth-themes-huayra-ocho
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core,
 python-pygame
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra Ocho theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra Ocho theme.

Package: plymouth-themes-huayra-flying
Architecture: all
Depends:
 ${misc:Depends},
 plymouth (>= 0.9.0-8),
 plymouth-themes,
 fontconfig-config,
 fonts-dejavu-core | ttf-dejavu-core
Replaces: plymouth-themes-huayra
Breaks: plymouth-themes-huayra
Description: Graphical Boot Animation and Logger (Huayra Flying theme)
 Plymouth provides an attractive boot animation in place of the text messages
 that normally get shown. Text messages are instead redirected to a logfile for
 viewing after boot.
 .
 This package contains the Huayra Flying theme.

